# ==========================================
# Изоляция виртуального окружения и библиотек
# ==========================================
venv/
ENV/
env/
.env

# ==========================================
# Кэш Python и скомпилированные файлы
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# ==========================================
# Временные файлы Microsoft Office / Word
# ==========================================
~$*.doc*
.~lock.*.doc*
*.tmp

# ==========================================
# Локальные настройки IDE (PyCharm, VS Code)
# ==========================================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ==========================================
# Тяжелые логи и системные файлы
# ==========================================
*.log
.DS_Store
Thumbs.db

# ==========================================
# Примечание для MLOps (Опционально)
# ==========================================
# Если вы хотите, чтобы папка artifacts/plots НЕ отправлялась в Git 
# (так как графики генерируются заново при каждом запуске), раскомментируйте строку ниже:
# artifacts/