# ==========================================
# Изоляция виртуального окружения и библиотек
# ==========================================
venv/
ENV/
env/
.env

# ==========================================
# Кэш Python и скомпилированные файлы
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# ==========================================
# Временные файлы Microsoft Office / Word
# ==========================================
~$*.doc*
.~lock.*.doc*
*.docx
*.tmp

# ==========================================
# Локальные настройки IDE (PyCharm, VS Code)
# ==========================================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ==========================================
# Тяжелые логи и системные файлы
# ==========================================
*.log
.DS_Store
Thumbs.db

# ==========================================
# Примечание для MLOps 
# ==========================================
artifacts/