# Базовые библиотеки вычислений и манипуляции данными
numpy==1.24.3
pandas==2.0.3
scikit-learn==1.3.0
pyyaml==6.0.1

# Глубокое обучение
torch==2.1.2

# Визуализация результатов (Парето-фронты, Dual Axis)
matplotlib==3.7.2

# Модули интерпретируемости AI
shap==0.44.0
lime==0.2.0.1